.all{
  margin-top: 100px;
   margin-bottom: 100px;
}

.About {
  display: flex;
  width: 100%;
  padding-top: 30px;

  h3{
    font-weight: 350;
    padding-top: 10px;

  }

  h2{
    font-weight:400;
    color: black;
    /* padding-top: 10px; */

  }

  p{
    font-weight: lighter;
    padding-top: 10px;

  }

  button {
    background-color: white;
    border: 1px solid black;
    border-radius: 0px;
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    text-align: center;
    transition: transform 3.5s ease-in-out, background-color 0.5s ease-in-out;
}

button a {
    color: black;
    text-decoration: none;
}

button:hover {
    transform: scale(1.1); /* Scaling the button itself */
    background-color: lightgray;
}

button:hover a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

}
.imageDiv{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutImage {
  width: 60%;
  z-index: 0;}


  .messageDiv{
    margin-top: 10%;
  }

  @media screen and (max-width:435px) {
    

    .About{
      display: flex;
      flex-direction: column;

      h2{
        padding-left: 20px;
      }
      h3{
        padding-left: 20px;
      }

      p{
        padding: 20px;
      }
      button{
        margin-left: 20px;
      }
    }

    .imageDiv{
      width: 100%;
    }

    .aboutImage{
      width: 90%;
    }
  }