.all{
}

.About{
  display: flex;
  width: 100%;
  padding-top: 30px;
}

.About2{
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.secondSection{
  width: 70%;
  padding: 100px;
}

.SSpan{
  width: 30px ;
  height: 70%;
  padding-left: 30px;
}

.aboutImage{
  width: 40%;
  padding: 30px;
}

