.footer{
 background-color: rgb(98, 98, 96);
 color: rgb(212, 212, 196);
 padding: 30px;
 
}

.footerGrid{
  display: flex;
  justify-content: space-between;

}
.Firstsection{
  width: 30%;

  h1{
    color: rgb(212, 212, 196);
    font-weight: 400;
  }
}

.footerUL{
  /* display: flex;
  background-color: rebeccapurple;
  justify-content: space-between; */
}
.copyright{
  border-top: 1px solid rgb(196, 189, 189);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-weight: 200;

  h3{
    font-weight: 200;
    font-size: 12px;

  }
}

.secSection{
  width: 75%;
  display: flex;
  justify-content: right;

  ul{
    margin-left: auto;
    text-align: right;
    display: flex;
  justify-content: space-between;

    li{
      list-style: none;
      padding: 2px;
      margin-left: 10px;

      a{
        text-decoration: none;
        color: rgb(212, 212, 196);
      }

      
    }


    li:hover{
      text-decoration: underline;
    }
  }
}


.ulArrangement{
  display: flex;
  width: 70%;
}

.footerIcons{
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 100px;
  .footIcon{
    font-size: 12px;
    margin-right: 5px;
    padding: 5px;
    margin-top: 20px;
    background-color: rgb(230, 230, 221);
    border-radius: 360px;
    color: rgb(81, 65, 45);

  }


  .footIcon:hover{
    scale: 1.1;
  }
}

@media screen and (max-width:500px) {

.Firstsection{
  display: none;
}

.secSection{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: left;
  

  ul{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    margin-right: auto;
    width: 100% ;
    

  }

  li{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    border-bottom: 1px solid wheat;
  }
}

.ulArrangement{
  width:100%
}
}