.productBody {
  /* padding: 0;
  margin: 0; */
  background-color: #2b2a31;
  margin-top: -25px;

  /* top: 0px; */
}

.cat {
  width: 25%;
  margin-top: 20px;
  margin-left: 1%;
}

.productTitle {
  font-size: 25px;
  color: rgb(253, 246, 243);
}

.divider {
  width: 2%;
  position: absolute;
  border-bottom: 2px solid rgb(247, 193, 157);
  padding-top: 30px;
}

#productTag {
  color: rgb(255, 252, 251);
}

#searchProducts {
  background-color: transparent;
  width: 100%;
  height: 3rem;
  color: whitesmoke;
  font-size: 20px;
  border: 1px solid rgb(128, 112, 90);
}

.inputProduct {
  display: flex;
}

.inputSearch {
  background-color: burlywood;
  width: 20%;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20%;
}

.buttons button {
  margin-top: 15px;
  width: 95%;
  height: 150px;
  color: rgb(255, 252, 251);
  border: none;
}

.buttons button:hover {
  scale: 1.1;
}

.productName {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.productDesc {
  color: white;
  text-transform: capitalize;
  background-color: transparent;
}

.productImage {
  align-items: center;
  justify-content: center;
  display: flex;
}

.PImage {
  width: 80%;
  height: 80%;
}

.productCard {
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 30px;
}

.productCard:hover {
  background-color: rgb(20, 19, 19);
}

.productContainer {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: auto;
}

.mainHalf {
  display: flex;
  flex-direction: row-reverse;
}

.productPrice {
  background-color: transparent;
}

.productDetails {
  padding-top: 2rem;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.productDetails input {
  color: white;
  background-color: transparent;
  margin-top: 10px;
  font-weight: bold;
  font-family: var(--e-global-typography-ce37b86-font-family), Sans-serif;
}

.productDetails button {
  color: white;
  background-color: transparent;
  height: 40px;
  font-size: 15px;
  width: 100px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  border: none;
  font-family: var(--e-global-typography-ce37b86-font-family), Sans-serif;

  /* margin-right: 30px; */
}

.chairImage {
  background-image: url(./09/three-seats-cozy-grey-sofa-PU2KRQE-300x300.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
}

.tableImage {
  background-image: url(./products/centretables/bakerrc2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
}

.deskImage {
  background-image: url(./09/wooden-nightstand-KAPKELE-300x300.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
}

.lampImage {
  background-image: url(./thumbs/lamp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
}

.SideDrawerImage {
  background-image: url(./products/benches/bench1-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
}

.seconddivision {
  width: 50%;
  background-color: rgb(31, 31, 31);
  height: 15rem;
  text-align: center;
  margin-top: 25px;
}

.seconddivision h4 {
  position: absolute;
  font-size: 50px;
  color: wheat;
}

.filter {
  margin-left: 2%;
}
