

.productBody {

  /* background-color: rgb(209, 227, 227); */
  /* background-color: rgb(216, 99, 99); */
  overflow-y: scroll;

}

.cat {

  padding: 20px;
  height: 2%;
  /* background-color: rgb(204, 204, 204); */
  /* position: absolute; */
}

.productTitle {
  font-size: 25px;
  color: rgb(53, 50, 49);
}

.divider {
  width: 2%;
  position: absolute;
  border-bottom: 2px solid rgb(247, 193, 157);
  padding-top: 30px;
}

#productTag {
  color: rgb(50, 50, 49);
  font-weight: lighter;
  cursor: pointer;
}

#productTag:hover{
  text-decoration: underline;
}

#searchProducts {
   height: 2.5rem;
  color: rgb(98, 93, 93);
  font-size: 20px; 
  border: 1px solid rgb(231, 227, 221);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
  padding-left: 10px;
  background-color: transparent;
}
  

.inputProduct {
  display: flex;
  background-color: rgb(237, 237, 237);
}

.inputSearch {
  background-color: rgb(184, 168, 153);
  height: 2.6rem;
  width: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid rgb(201, 200, 197);

}

.buttons {
  /* display: grid; */
  /* margin-top: 20px; */
  display: flex;
  margin-right: auto;
  width: fit-content;

}

.buttons button {
  margin-left: 20px;
  color: rgb(75, 72, 71);
  border: none;
  font-weight: lighter !important;
  background-color: transparent;
}



.productName {
  color: rgb(64, 61, 61);
  font-weight: bold;
}

.productDesc {
  color: rgb(49, 48, 48);
  text-transform: capitalize;
  background-color: transparent;
}

.productImage {
  /* align-items: center;
  justify-content: center;
  display: flex; */
  /* background-color: rgb(246, 246, 246); */
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: space-between;

}

.PImage {
  width: 200px;
  height: 180px

}

.rateCover{
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  /* text-align: right; */
  height: 50px;
  width: 30px;
  margin-top: 150px;
  position: absolute;
  margin-bottom: auto;
}

.productCard {
  margin-top: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(232, 221, 221); */
  margin-left: 20px;
  width: 200px;
}

.productCard:hover {
  background-color: rgb(248, 248, 248);
  scale: 1.02;

  .rateCover{
    background-color: rgb(248, 248, 248);
  }
}

.productContainer {
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  /* background-color: aqua; */
}

.mainHalf {
  flex-direction: column;
  /* display: flex; */
  width: 100%;
  /* background-color: gainsboro; */
 
}

.productPrice {
  /* text-align: right; */
  margin-top: 10px;
  font-weight: lighter;
  color: rgb(100, 99, 98);

}

.productDetails {
  padding-top: 2rem;
  /* background-color: white; */
  color: rgb(61, 57, 57);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.productDetails input {
  color: rgb(76, 73, 73);
  background-color: transparent;
  margin-top: 10px;
  font-weight: bold;
  font-family: var(--e-global-typography-ce37b86-font-family), Sans-serif;
  display: none;
}

.productDetails button {
  color: rgb(63, 59, 59);
  background-color: transparent;
  height: 40px;
  font-size: 15px;
  width: 100px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  border: none;
  font-family: var(--e-global-typography-ce37b86-font-family), Sans-serif;
  display: none;


  /* margin-right: 30px; */
}




.seconddivision {
  /* width: 100%; */
  /* background-image: url(../Images/Slice\ 12.png); */
   background-image: url(../Images/Slice\ 11.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: top;  */
  background-position:center;
  height: 20rem;
  display: flex;
  justify-content: space-around;
  position: sticky;
  flex-direction: row;
  background-color: #c9c9c9;  /* z-index: 1; */
  /* top: 1; */
  margin-top: 70px;

  h1{
    
    color: white;

  }

  h3{
    font-weight: lighter;
    margin-top: 8px;
    color: white;
  }

  button{
    width: 100px;
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    display: none;
  }

  img{
  }

}

.viewDetails{
  padding: 20px;
  margin-top: 40px;
  margin-left: auto;
}







.filter {
  display: flex;
  flex-direction: row-reverse;

}



.cardContainer{
  /* width: 100vw;
  height: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  

}

.product-card {
  border: 1px solid #ccc;
  margin-top: 16px;
  border-radius: 8px;
  width: 70%;
  background-color: rgb(255, 255, 255);
  height: 50%;
  display: flex;
  justify-content: center;
  padding: 20px;

 

  .cardImage{
    background-color: rgb(240, 240, 240);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;

    img{
      width: 90%;
      height: 70%;
      /* background-color: aqua; */
    }
  }

}

.productCardDetails{
  width: 80%;
}

.cardHalf2{
  width: 60%;
  display: grid;
  place-items: center;
  border: 1px solid rgb(115, 114, 114);
  border-left: none;

  p{
    text-align: left;
    padding: 20px;
    h2{
      color: black;
      font-size: 25px;
  
    }
    h3{
      color: rgb(125, 120, 105);
      /* font-style: italic; */
      font-size: 15px;
    }

  }
 

  button{
    background-color: transparent;

    width: 120px;
    /* border-radius: 20px; */
    color: rgb(100, 89, 89);
    height: 40px;
    border:  1px solid grey;
  }

  button:hover{
    background-color: black;
    color: white;
  }

  p{    
    input{
      background-color: transparent;
      width: 120px;
      color: black;
      font-weight: bold;
      border: none;
      outline: none;
      border-bottom: 1px solid rgb(203, 203, 203);
      padding: 5px;
      text-align: center;

    }
  }
}

.searchBtn{
  background-color: rgb(231, 231, 231);
  border: none;
  outline: none;
  padding: 10px;
 
}

.searchIcon{
  font-size: 20px;
  color: rgb(123, 106, 106);

}


.cancel{
  margin-left: 65%;
  margin-top: -12px;
  height: 40px;
  width: 40px;
  position: absolute;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 360px;
  padding: 5px;
  border: none;

}

.cover{
  background-color: rgb(240, 240, 240);
  position: fixed;
  bottom: 33%;
  right: 59%;
  height: 50px;
  width: 40px;
  
}

.cancel:hover{
  background-color: rgb(104, 89, 72);
  color: whitesmoke;
}

.responsivecancel{
  display: none;
}

.ResponsieviewDet{
  display: none;
}


@media screen and (max-width: 1024px) {
  .productBody {
  }

  .productContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .cat{
    background-color: rgb(252, 252, 252);
  }
}

@media screen and (max-width: 768px) {
  .productBody {
  }

  .mainHalf{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(4, 1fr) !important; */
    
  }

  .cat{
    background-color: rgb(245, 245, 245);
    /* height: 70px; */

   .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: -10px !important; */
   }
  }

  .sort{
  }

 
}



@media screen and (max-width: 600px) {
  .mainHalf{
    /* display: flex;
    flex-direction: column; */

    
  }

  .ResponsieviewDet{
    display: block;
    /* background-color: rgb(235, 226, 226); */
    background-color: rgb(198, 197, 193);
    color: rgb(101, 94, 81);
    padding: 20px;

    button{
      display: none;
    }

    h3{
      font-size: 17px;
      font-weight: 350;

    }
    h1{
      font-weight: 500;
      padding-bottom: 5px;
    }
    

  }
  .viewDetails{
    display: none;
  }

  .productContainer{
    display: grid;
    grid-template-columns:repeat(2, 1fr);

    .productCard{
      width: 80%;
      height:300px ;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      /* border: 1px solid rgb(215, 211, 211); */
      border-radius: 20px;
      box-shadow: 10px 20px 20px 1px rgb(243, 240, 240);


      .PImage{
        width: 100%;
        height: 180px;
      }
    }
  }

  .cat{
    padding: 0;
   
  }
  .filter{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* overflow-y: scroll; */
    
  }

  .inputProduct{
    width: 100%;
    align-items: last baseline;
    display: flex;
    justify-content: right;
    display: none;

    input{
      border-radius: 0px  !important;
      border: none !important;
      border-bottom:  1px solid rgb(119, 83, 83) !important;
      
    }

    button{
      /* border-radius: 0px !important; */
    }
  }

  .buttons{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
  }

    button{
      width: fit-content;
    }
    
  
  .productTag{
    color:wheat !important;
  }

   .product-card{
    width: 60%;
    height: 60%;
  }

  .productCardDetails{
    padding: 10px !important;
    width: 100%;
    padding-left: 25px !important;

  }

  .productCname{
    font-size: 20px !important;
    
  }
  .cancel{
    display: none;
  }

  .productCdesc{
    font-weight: 200;
    padding: 10px !important;
   
  }

  .product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 90%;
    width: 90%;
  }

  .cardHalf2{
    height: 50%;
    width: 100%;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    padding: 13px;
  }

  .cardImage{
    /* border-bottom: 1px solid black; */
    width: 100% !important;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 !important;
    background-color: transparent !important;
    img{
      width: 100% !important;
      background-color: transparent !important;
    }
  }

  .responsivecancel{
    background-color: teal;
    position: fixed;
    top: 0;
    right: 0;
    width: 30px;
    padding: 5px;
    background-color: rgb(155, 145, 132);
    color: rgb(255, 255, 255);
    border: none;
    display: block;

  }

  .cover{
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 48%;
    right: 7%;
    height: 30%;
    width: 50px;
    
  }
}