* {
  /* background-image: url(./Images/Image2.jpg); */
}

.productContainer {
  display: flex;
}

.productCard {
  /* background-color: aquamarine; */
  margin-top: 40px;
  margin-left: 40px;
  width: 300px;
  display: grid;
  height: 400px;
  border-radius: 30px;
  border: burlywood;
  box-shadow: bisque;
}

.productImage {
  height: 350px;
  width: 300px;
  background-color: aliceblue;
}

.productName {
  font-size: 20px;
  font-weight: bold;
}

.productDesc {
  font-size: 20px;
  margin-top: 2px;
}

.productPrice {
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
}

.qty {
  width: 45px;
  font-size: 15px;
  background-color: rgb(65, 63, 62);
  color: blanchedalmond;
}

.add {
  width: 80px;
  height: 30px;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  font-weight: bold;
}
