/* body {
  margin: 0;
  padding: 0;

  background-image: url(./Images/vecteezy_modern-living-room-design-illustration-ai-generative_23902309.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 70vw;
  /* background: url("./Images/vecteezy_lliving-room-in-home-or-apartment_3548495.jpg"),
    lightgray -138.535px -6.801px / 128.706% 106.63%; */
/* background-repeat: no-repeat; */
/* } */

/* .main {
  display: grid;
} */
